
body {
    background-color: #B5C4E6;
}

h1 {
    display: flex;
    justify-content:left;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Special Elite', cursive;
    font-family: 'Zilla Slab', serif;
    font-size: 80px;
    color: #375394;
}


h3 {

    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Zilla Slab', serif;
    color: #375394;
    font-size: 37px;
}


h4 {
    font-size: 20px;
    color: #375394;
}

a {
    text-decoration: none;
}

section {
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
}

section h1 img {
    margin-left: 60%;
}
section img {
    float: right;
    padding-right: 14%;
}

div {
    display: flex;
    justify-content: space-between;
    padding: 2%;

}

.terciario {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #375394;
    font-size: 20px;
    flex-direction: column;
}

p {
    font-size: 20px;
    margin: 3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #375394;

}

footer img {
    padding-top: 3rem;
    width: 100%;
    height: auto;
    margin-right: 1%;
    max-width: 2.5rem;


}

