body {
    background-color: #B5C4E6;
}

h1 {
    display: flex;
    justify-content:left;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Special Elite', cursive;
    font-family: 'Zilla Slab', serif;
    font-size: 80px;
    color: #375394;
}
h2 {
    display: flex;
    justify-content:left;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Special Elite', cursive;
    font-family: 'Zilla Slab', serif;
    font-size: 80px;
    color: #375394;
}
    

h3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #375394;

}

h4 {
    display: flex;
    justify-content:left;
    font-size: 30px;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Special Elite', cursive;
    font-family: 'Zilla Slab', serif;
    color: #375394;
}

section {
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
}
ul {
    font-size: 20px;
    line-height: 40px;
}

section ul img {
    float: right;
    margin-right: 5%;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #375394;
    font-size: 20px;
}

footer div a {
    display: block;
    justify-content: center;
    font-size: 30px;
    color: aliceblue;
}


footer p {
    font-size: 20px;
    text-align: center;
    display: block;
}


footer img {
    padding-top: 3rem;
    width: 100%;
    height: auto;
    margin-right: 1%;
    max-width: 2.5rem;
}

