* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background-color: #B3C6F0;

}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Special Elite', cursive;
    font-family: 'Zilla Slab', serif;
    font-size: 80px;
    color: #375394;
}

h2 {
    display: flex;
    justify-content:center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Special Elite', cursive;
    font-family: 'Zilla Slab', serif;
    font-size: 80px;
    color: #375394;
}

h3 {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Special Elite', cursive;
    font-family: 'Zilla Slab', serif;
    font-size: 40px;
    color: #375394;
    display: flex;
    justify-content:left;
    padding: 2%
}

h4 {
    display: flex;
    justify-content: center;
    padding: 2.5rem;
    font-size: 30px;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Special Elite', cursive;
    font-family: 'Zilla Slab', serif;
    color: #375394;
    margin-top: 4%;
}

h5 {
    font-size: 30px;
    margin: 7px; 
    padding: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h6 { 
    display: flex;
    justify-content: left;
    padding: 2.5rem;
    font-size: 30px;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Special Elite', cursive;
    font-family: 'Zilla Slab', serif;
    color: #375394;
}

section {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Zilla Slab', serif;
    font-size: 30px;
    display: inline;
    justify-content:space-around; 
}

ul {
    list-style-type:none;
    text-align: center;

}

li {
    display: inline;
    text-align: center;
    
}
li a {
    text-decoration: none;
    padding: 1rem;

}

li a:hover{
    background-color: #245857;
    color: #d3d5e7;
}

p {
    font-size: 20px;
    margin: 3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



div {
    display: inline;
    justify-content: space-between;   
}
div img {
    width: 400px;
    height: 250px;
}
img {
    width: 280px;
    height: 150px;
    float: right;
    margin-right: 3%;
}

.galeria {
    display: inline;
    width: 100%;
    justify-content: space-around;
}
.galeria a {
    width: 10px;
    height: 10px;
}

article .primario .galeria {
    display: inline;
    justify-content: space-between;
    margin-bottom: 15%;  
}

.example-image {
    width: 300px;
    height: 200px;
    margin-bottom: 80%;
}

section .personajes {
    margin-top: 5%;
}

section .personajes li {
    display: flex;
    justify-content: left;
    margin-left: 8%;
    margin-top: 5px;
    font-size: 20px;
    line-height: 40px;  
    
}
section .personajes img {
    width: 700px;
    height: 400px;
    margin-top: 3%;
}
.michael {
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
} 

.michael img {
    width: 400px;
    height: 250px;
    margin-left: 3%;
    margin-top: 2%;
    float: left;
}
.dwight {
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    display: block;
    margin-top: 2%;
    margin-top: 10%;
}

.dwight img {
    float: left;
    width: 400px;
    height: 250px;
    margin-left: 3%;
    margin-top: 2%;
}
.stanley {
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    display: block;
    margin-top: 6%;
}

.stanley img {
    float: left;
    width: 400px;
    height: 250px;
    margin-left: 3%;
    margin-bottom: 2%;
    margin-top: 3%;

}

section .info {
    margin-top: 5%;
}

section .info li {
    display: flex;
    justify-content: left;
    margin-left: 3%;
    margin-top: 5px;
    font-size: 30px;
    line-height: 40px; 

}

.secundario img {
    float: right;
    width: 470px;
    height: 450px;
    margin-left: 3%;
    margin-bottom: 5%;
}

header img {
    width: 250px;
    height: 140px;
    float: right;
    margin-right: 3%;
    margin-top: 2%;
    
}
.dunder {
    width: 280px;
    height: 150px;
    float: right;
    margin-right: 3%;
}
.fuente1 p {
    font-size: 23px;
}
.fuente1 a {
    margin-left: 3%;
    font-size: 25px;
}
.fuente2 p {
    font-size: 23px;
}
.fuente2 a {
    margin-left: 3%;
    font-size: 25px;
}
.fuente3 p {
    font-size: 23px;
}
.fuente3 a {
    margin-left: 3%;
    font-size: 25px;
}

.terciario {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    
}

.imgformulario {
    width: 470px;
    height: 300px;
    margin-left: 3%;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100px;
    background-color: #375394;
    margin-top: 17%;
}
.footerclip {
    margin-top: 20%;
}

.footerpersonajes {
    display: flex;
    position: absolute;
    margin-top: 6%;
}
.footercriticas {
    position: absolute;
    margin-top: 5%
}

.footerinfo {
    display: flex;
    position: absolute;
    margin-top: 6%;
}
.footerinfo img {
    padding-bottom: 1rem;
    width: 100%;
    height: auto;
    margin-right: 1%;
    max-width: 2.5rem;
}
.footerformulario {
    margin-top: 6%;
}

footer img {
    padding-bottom: 1rem;
    width: 100%;
    height: auto;
    margin-right: 1%;
    max-width: 2.5rem;
}

.icon {
    display: none;
}
@media screen and (max-width: 480px) {
    header {
        flex-wrap: wrap;
    }
    nav ul { display: none; }
    .icon { display: block; padding-top: 2rem; padding-left: 2rem; }
    header div, header nav {
        flex: 1 0 50%;
    }
    header nav {
        flex-basis: 100%;
    }
    nav ul {
        display: none;
    }
    nav.responsive ul {
        display: block;
        width: 100%;
        display: inline-block;
        justify-content: center;
    }
    section {  
        max-width: 480px;
        width: 100%;
    }
    h3 {
        font-size: 20px;
    }
    h1 {
        font-size: 40px;
    }
    img {
        width: 100px;
        height: 50px;
    }
    .icon {
        margin-right: 10%;
        margin-bottom: 10%;
    }
    ul {
        text-align:left
    }
    li {
        display: flex;
        vertical-align:auto
    }
    li a {
        font-size: 20px;
    }

    h5 {
        font-size: 20px;
    }
    p {
        font-size: 15px;
    }
    .primario .galeria a {
        display: block;
        justify-content: center;
        margin-left: 92%;
        margin-bottom: 5%;
    }
    .galeria a .example-image {
        width: 420px;
        height: 300px;;
    }

    h4 {
        font-size: 20px;
    }
    div img {
        width: 150px;
        height: 100px;
    }
    h2 {
        display: flex;
        justify-content: center;
    }
    .icon2 {
        margin-right: 17%;
    }

    .imgclip {
        display: block;
        float: center;
        margin-top: 4%;
        margin-right: 20%;
        height: 170px;
        width: 300px;
     
    }
    .imgclip2 {
        display: none;
    }
    .imgclip3 {
        display: none;
    }
    section .personajes img {
        display: none;
    }
    h6 {
        font-size: 20px;
    }
    section .personajes li {
        display: none;
    }
    .michael {
        font-size: 500px;
    }
    .michael img {
        width: 180px;
        height: 110px;
    }
    .dwight {
        font-size: 600px;
    }
    .dwight img {
        width: 180px;
        height: 110px;
    }
    .stanley {
        font-size: 600px;
    }
    .stanley img {
        width: 180px;
        height: 110px;
    }
    h2 {
        font-size: 60px;
    }
    .secundario img {
        display: none;
    }
    .secundario .info li {
        font-size: 20px;
    }
    .argumento {
        line-height: 80%;
    }
    .dunder {
        width: 110px;
        height: 70px;
    }
    .fuente1 {
        line-height: 80%;
    }
    .fuente1 a {
        font-size: 20px;
    }
    .fuente2 {
        line-height: 80%;
    }
    .fuente2 a {
        font-size: 20px;
    }
    .fuente3 {
        line-height: 80%;
    }
    .fuente3 a {
        font-size: 20px;
    }
    
    .terciario img {
        width: 180px;
        height: 100px;
    }
    .terciario .caja_formulario {
        display: inline-block;
        
    }
    .footerclip {
        margin-top: 40%;
    }

    .footerpersonajes {
        margin-top: 30%;
    }
    footer {
        display: flex;
        position: absolute;
        margin-top: 230%;

    }
    
}

